@font-face {
  font-family: "trebuc";
  src: url("../fonts/trebuc.eot");
  src: url("../fonts/trebuc.eot?#iefix") format("embedded-opentype"), url("../fonts/trebuc.woff") format("woff"), url("../fonts/trebuc.woff2") format("woff2"), url("/../fonts/trebuc.ttf") format("truetype"); }

@font-face {
  font-family: "trebucb";
  src: url("../fonts/trebucbd.eot");
  src: url("../fonts/trebucbd.eot?#iefix") format("embedded-opentype"), url("../fonts/trebucbd.woff") format("woff"), url("../fonts/trebucbd.woff2") format("woff2"), url("/../fonts/trebucbd.ttf") format("truetype"); }

@font-face {
  font-family: "georgiab";
  src: url("../fonts/georgiab.eot");
  src: url("../fonts/georgiab.eot?#iefix") format("embedded-opentype"), url("../fonts/georgiab.woff") format("woff"), url("../fonts/georgiab.woff2") format("woff2"), url("/../fonts/georgiab.ttf") format("truetype"); }

/*******************************************************************DEFAULT*********/
/**********************************************************************************/
* {
  padding: 0;
  margin: 0; }

p, h1, h2, a, li, sub {
  font-family: "trebuc", "Trebuchet MS", Arial, Helvetica, sans-serif; }

a {
  text-decoration: none;
  color: black; }

body {
  background: linear-gradient(#fef6f2, #e5806a); }

div#global_wrapper {
  height: auto;
  width: 794px;
  box-shadow: -1px 1px 10px 3px #999999;
  border-radius: 1%;
  margin: 2.5% auto;
  background-color: white; }

img {
  max-width: 100%;
  height: auto; }

/*******************************************************************HEADER*********/
/**********************************************************************************/
div#header img.logo {
  margin: 3% 0 0 7.5%; }

div#header ul {
  float: right;
  margin: 3% 0;
  width: 65%; }
  div#header ul li {
    display: inline-table;
    width: auto; }
    div#header ul li:nth-child(even) {
      padding-right: 5%; }
  div#header ul p {
    padding: 1.5% 0; }
    div#header ul p.ville {
      color: #5a5645;
      text-transform: uppercase;
      font-weight: bold;
      font-size: .9em; }
    div#header ul p.adresse {
      font-size: .7em;
      color: #5a5645; }
    div#header ul p.tel {
      color: #d43219;
      font-size: .7em;
      font-weight: bold; }
      div#header ul p.tel img {
        vertical-align: middle;
        padding-right: .7em; }
  div#header ul img.cube {
    padding-right: 1%;
    vertical-align: sub; }

/*******************************************************************CONTENT*********/
/**********************************************************************************/
div#content ul.mainmenu {
  margin: 1% 0 0.5% 0;
  border-bottom: 1px solid #e36940;
  background: linear-gradient(#e36940, #aa3007);
  width: 100%;
  display: table; }
  div#content ul.mainmenu li {
    display: inline-table;
    float: left;
    padding: 0.5% 0;
    border-right: 1px solid #e36940;
    border-left: 1px solid #aa3007; }
    div#content ul.mainmenu li a {
      padding: 0 7.4%; }
    div#content ul.mainmenu li:nth-child(n+2) a {
      font-family: "trebucb", "Trebuchet MS", Arial, Helvetica, sans-serif;
      font-weight: bold;
      color: white;
      text-shadow: 1px 1px #5d1407;
      letter-spacing: 1px; }
      div#content ul.mainmenu li:nth-child(n+2) a:hover {
        color: #d43219;
        text-shadow: 1px 1px white; }
    div#content ul.mainmenu li:hover:nth-child(n+2) {
      background: linear-gradient(#dea720, #f9c33b); }
    div#content ul.mainmenu li:first-child {
      border-left: 0;
      width: 10%;
      text-align: right; }
      div#content ul.mainmenu li:first-child a img {
        vertical-align: middle; }
    div#content ul.mainmenu li:last-child {
      border-right: 0; }

div#content ul.navigation {
  padding: 0 7% 3% 7%;
  display: table; }
  div#content ul.navigation li {
    display: inline-table; }
    div#content ul.navigation li a {
      text-decoration: underline;
      font-size: .6em; }
      div#content ul.navigation li a:hover {
        text-decoration: none;
        font-size: 0.6em; }
    div#content ul.navigation li:last-child a {
      text-decoration: none; }
    div#content ul.navigation li span {
      color: #d43219;
      margin: 0 10%;
      font-size: .6em;
      font-weight: bolder; }

div#content h1.titre {
  border-bottom: 2px solid #f9bc24;
  border-left: 3px solid #5c5646;
  font-size: 1.1em;
  color: #d43219;
  margin: 0 7%;
  line-height: 1.7em;
  text-indent: 0.8%; }

div#content div.wrapper_1, div#content div.wrapper_2 {
  width: 86%;
  margin: 2% auto;
  display: table; }
  div#content div.wrapper_1 div, div#content div.wrapper_2 div {
    display: inline-table; }
  div#content div.wrapper_1 div:first-child, div#content div.wrapper_2 div:first-child {
    width: 50.5%; }
    div#content div.wrapper_1 div:first-child h2, div#content div.wrapper_2 div:first-child h2 {
      padding-bottom: 2.7%;
      font-size: 0.8em;
      font-family: "georgiab", Georgia, "Times New Roman", Times, serif; }
      div#content div.wrapper_1 div:first-child h2 span, div#content div.wrapper_2 div:first-child h2 span {
        color: #d66a2c;
        font-size: 1.5em;
        margin-right: 1.3%;
        vertical-align: baseline; }
    div#content div.wrapper_1 div:first-child p, div#content div.wrapper_2 div:first-child p {
      font-size: 0.7em;
      padding: 0.9% 0;
      text-indent: 6.5%; }
  div#content div.wrapper_1 div:last-child, div#content div.wrapper_2 div:last-child {
    float: right; }

div#content div.wrapper_1 div:last-child {
  width: 40%;
  text-align: center; }
  div#content div.wrapper_1 div:last-child sub {
    color: #d66a2c;
    font-size: 0.6em; }

div#content div.form h2 {
  padding: 1.5% 7% 1.2% 7%;
  font-size: .8em;
  font-family: "georgiab", Georgia, "Times New Roman", Times, serif; }
  div#content div.form h2 span {
    color: #d66a2c;
    font-size: 1.5em;
    margin-right: 0.5%;
    vertical-align: baseline; }

div#content div.form p {
  font-size: .7em;
  padding: 0.5% 7% 3% 7%;
  text-indent: 2.7%; }
  div#content div.form p.required {
    color: red; }

div#content div.form table {
  width: 86.5%;
  margin: 0 auto; }
  div#content div.form table td.multiline {
    text-align: right; }

div#content div.form input, div#content div.form textarea {
  width: 85%;
  color: #f9bc24;
  border-radius: 7px;
  font-family: "trebucb", "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-weight: bold;
  box-shadow: 0 7px 10px 0 #c9c9c9 inset;
  border: 1px solid #b5b5b5; }

div#content div.form input {
  margin-bottom: 1.5%;
  padding: 2% 2%; }
  div#content div.form input[type=submit] {
    width: 15%;
    padding: 1% 0;
    float: right;
    color: white;
    background: linear-gradient(#e36940, #ac3109);
    box-shadow: none;
    text-shadow: 1px 1px #541309;
    border: 1px solid #ac3109;
      border-radius: 11px; }
    div#content div.form input[type=submit]:hover {
      color: #d43219;
      text-shadow: 1px 1px white;
      background: linear-gradient(#dea720, #f9c33b);
      cursor: pointer; }

div#content div.form textarea {
  height: 105px;
  padding: 2%; }

/*******************************************************************FOOTER*********/
/**********************************************************************************/
div#footer {
  height: 31px;
  border-top: 1px solid #e7d2ce;
  margin-top: 4%; }
  div#footer p {
    color: #d43219;
    text-align: center;
    font-size: .6em;
    padding-top: 0.8%; }
    div#footer p span, div#footer p:last-child {
      color: #595846; }
  div#footer a {
    text-decoration: underline;
    color: #595846; }
