@font-face {
  font-family: "trebuc";
  src: url("../fonts/trebuc.eot");
  src: url("../fonts/trebuc.eot?#iefix") format("embedded-opentype"), url("../fonts/trebuc.woff") format("woff"), url("../fonts/trebuc.woff2") format("woff2"), url("/../fonts/trebuc.ttf") format("truetype");
}
@font-face {
  font-family: "trebucb";
  src: url("../fonts/trebucbd.eot");
  src: url("../fonts/trebucbd.eot?#iefix") format("embedded-opentype"), url("../fonts/trebucbd.woff") format("woff"), url("../fonts/trebucbd.woff2") format("woff2"), url("/../fonts/trebucbd.ttf") format("truetype");
}
@font-face {
  font-family: "georgiab";
  src: url("../fonts/georgiab.eot");
  src: url("../fonts/georgiab.eot?#iefix") format("embedded-opentype"), url("../fonts/georgiab.woff") format("woff"), url("../fonts/georgiab.woff2") format("woff2"), url("/../fonts/georgiab.ttf") format("truetype");
}
/*******************************************************************DEFAULT*********/
/**********************************************************************************/
/* line 21, ../sass/mobile.scss */
* {
  padding: 0;
  margin: 0;
}

/* line 25, ../sass/mobile.scss */
p, h1, h2, a, li, sub {
  font-family: "trebuc", "Trebuchet MS", Arial, Helvetica, sans-serif;
}

/* line 28, ../sass/mobile.scss */
a {
  text-decoration: none;
  color: black;
}

/* line 36, ../sass/mobile.scss */
div#global_wrapper {
  height: auto;
  width: 100%;
  margin: 2.5% auto;
  background-color: white;
}

/* line 44, ../sass/mobile.scss */
img, video {
  max-width: 100%;
  height: auto;
}

/*******************************************************************HEADER*********/
/**********************************************************************************/
/* line 83, ../sass/mobile.scss */
div#header {
  text-align: center;
}
/* line 87, ../sass/mobile.scss */
div#header img.logo {
  margin: 3% 0 0 7.5%;
}
/* line 93, ../sass/mobile.scss */
div#header ul {
  float: right;
  margin: 3% 0 3% 6%;
}
/* line 98, ../sass/mobile.scss */
div#header ul li {
  display: inline-table;
  width: auto;
}
/* line 103, ../sass/mobile.scss */
div#header ul li:nth-child(even) {
  padding-right: 5%;
  width: 38%;
}
/* line 111, ../sass/mobile.scss */
div#header ul p {
  padding: 1.5% 0;
}
/* line 115, ../sass/mobile.scss */
div#header ul p.ville {
  color: #5a5645;
  text-transform: uppercase;
  font-weight: bold;
  font-size: .9em;
}
/* line 127, ../sass/mobile.scss */
div#header ul p.adresse {
  font-size: .7em;
  color: #5a5645;
}
/* line 134, ../sass/mobile.scss */
div#header ul p.tel {
  color: #d43219;
  font-size: .7em;
  font-weight: bold;
}
/* line 143, ../sass/mobile.scss */
div#header ul p.tel img {
  vertical-align: middle;
  padding-right: .7em;
}
/* line 152, ../sass/mobile.scss */
div#header ul img.cube {
  padding-right: 1%;
  vertical-align: sub;
}

/*******************************************************************CONTENT*********/
/**********************************************************************************/
/* line 164, ../sass/mobile.scss */
div#content ul.mainmenu {
  margin: 1% 0 0.5% 0;
  border-bottom: 1px solid #e36940;
  background: linear-gradient(#e36940, #aa3007);
  width: 100%;
  display: table;
}
/* line 172, ../sass/mobile.scss */
div#content ul.mainmenu li {
  display: inline-table;
  float: left;
  padding: 0.5% 0;
}
/* line 183, ../sass/mobile.scss */
div#content ul.mainmenu li a {
  padding: 0 7.4%;
}
/* line 191, ../sass/mobile.scss */
div#content ul.mainmenu li:nth-child(n+2) a {
  font-family: "trebucb", "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: white;
  text-shadow: 1px 1px #5d1407;
  letter-spacing: 1px;
  font-size: 0.7em;
}
/* line 199, ../sass/mobile.scss */
div#content ul.mainmenu li:nth-child(n+2) a:hover {
  color: #d43219;
  text-shadow: 1px 1px white;
}
/* line 208, ../sass/mobile.scss */
div#content ul.mainmenu li:hover:nth-child(n+2) {
  background: linear-gradient(#dea720, #f9c33b);
}
/* line 214, ../sass/mobile.scss */
div#content ul.mainmenu li:first-child {
  border-left: 0;
  width: 10%;
  text-align: right;
}
/* line 222, ../sass/mobile.scss */
div#content ul.mainmenu li:first-child a img {
  vertical-align: middle;
}
/* line 230, ../sass/mobile.scss */
div#content ul.mainmenu li:last-child {
  border-right: 0;
}
/* line 238, ../sass/mobile.scss */
div#content ul.navigation {
  padding: 0 7% 3% 7%;
  display: table;
}
/* line 243, ../sass/mobile.scss */
div#content ul.navigation li {
  display: inline-table;
}
/* line 247, ../sass/mobile.scss */
div#content ul.navigation li a {
  text-decoration: underline;
  font-size: .6em;
}
/* line 252, ../sass/mobile.scss */
div#content ul.navigation li a:hover {
  text-decoration: none;
  font-size: 0.6em;
}
/* line 262, ../sass/mobile.scss */
div#content ul.navigation li:last-child a {
  text-decoration: none;
}
/* line 269, ../sass/mobile.scss */
div#content ul.navigation li span {
  color: #d43219;
  margin: 0 10%;
  font-size: .6em;
  font-weight: bolder;
}
/* line 281, ../sass/mobile.scss */
div#content h1.titre {
  border-bottom: 2px solid #f9bc24;
  border-left: 3px solid #5c5646;
  font-size: 1.1em;
  color: #d43219;
  margin: 0 7%;
  line-height: 1.7em;
  text-indent: 0.8%;
}
/* line 296, ../sass/mobile.scss */
div#content div.wrapper_1, div#content div.wrapper_2 {
  width: 86%;
  margin: 2% auto;
}
/* line 312, ../sass/mobile.scss */
div#content div.wrapper_1 div:first-child h2, div#content div.wrapper_2 div:first-child h2 {
  padding-bottom: 2.7%;
  font-size: 0.8em;
  font-family: "georgiab", Georgia, "Times New Roman", Times, serif;
}
/* line 318, ../sass/mobile.scss */
div#content div.wrapper_1 div:first-child h2 span, div#content div.wrapper_2 div:first-child h2 span {
  color: #d66a2c;
  font-size: 1.5em;
  margin-right: 1.3%;
  vertical-align: baseline;
}
/* line 328, ../sass/mobile.scss */
div#content div.wrapper_1 div:first-child p, div#content div.wrapper_2 div:first-child p {
  font-size: 0.7em;
  padding: 0.9% 0;
  text-indent: 6.5%;
}
/* line 337, ../sass/mobile.scss */
div#content div.wrapper_1 div:last-child, div#content div.wrapper_2 div:last-child {
  text-align: center;
  margin-top: 5%;
}
/* line 353, ../sass/mobile.scss */
div#content div.wrapper_1 div:last-child sub {
  color: #d66a2c;
  font-size: 0.7em;
}
/* line 364, ../sass/mobile.scss */
div#content div.form h2 {
  padding: 1.5% 7% 1.2% 7%;
  font-size: .8em;
  font-family: "georgiab", Georgia, "Times New Roman", Times, serif;
}
/* line 370, ../sass/mobile.scss */
div#content div.form h2 span {
  color: #d66a2c;
  font-size: 1.5em;
  margin-right: 0.5%;
  vertical-align: baseline;
}
/* line 380, ../sass/mobile.scss */
div#content div.form p {
  font-size: .7em;
  padding: 0.5% 7% 3% 7%;
  text-indent: 2.7%;
}
/* line 386, ../sass/mobile.scss */
div#content div.form p.required {
  color: red;
  font-size: 0.6em;
}
/* line 394, ../sass/mobile.scss */
div#content div.form table {
  width: 86.5%;
  margin: 0 auto;
}
/* line 399, ../sass/mobile.scss */
div#content div.form table td.multiline {
  text-align: right;
}
/* line 406, ../sass/mobile.scss */
div#content div.form input, div#content div.form textarea {
  width: 85%;
  color: #f9bc24;
  border-radius: 7px;
  font-family: "trebucb", "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-weight: bold;
  box-shadow: 0 7px 10px 0 #c9c9c9 inset;
  border: 1px solid #b5b5b5;
  font-size: 0.7em;
}
/* line 418, ../sass/mobile.scss */
div#content div.form input {
  margin-bottom: 1.5%;
  padding: 2% 2%;
}
/* line 423, ../sass/mobile.scss */
div#content div.form input[type=submit] {
  width: 25%;
  padding: 1% 0;
  float: right;
  color: white;
  background: linear-gradient(#e36940, #ac3109);
  box-shadow: none;
  text-shadow: 1px 1px #541309;
  font-size: 1em;
  border: 1px solid #ac3109;
  border-radius: 11px;
}
/* line 437, ../sass/mobile.scss */
div#content div.form input[type=submit]:hover {
  color: #d43219;
  text-shadow: 1px 1px white;
  background: linear-gradient(#dea720, #f9c33b);
  cursor: pointer;
}
/* line 448, ../sass/mobile.scss */
div#content div.form textarea {
  height: 105px;
  padding: 2%;
}

/*******************************************************************FOOTER*********/
/**********************************************************************************/
/* line 458, ../sass/mobile.scss */
div#footer {
  height: 31px;
  border-top: 1px solid #e7d2ce;
  margin-top: 4%;
}
/* line 464, ../sass/mobile.scss */
div#footer p {
  color: #d43219;
  text-align: center;
  font-size: .6em;
  padding-top: 0.8%;
}
/* line 471, ../sass/mobile.scss */
div#footer p span, div#footer p:last-child {
  color: #595846;
}
/* line 478, ../sass/mobile.scss */
div#footer a {
  text-decoration: underline;
  color: #595846;
}
